# Global
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Environment files
*.env
*.env.dev

# Application specific files
venv
node_modules
.sass-cache

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# React
node_modules/
